@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

body {

 background: url(Sunset-View.jpg) no-repeat center 100%;
  background-color: black;
  border-width: 0,2px;
font-family: 'Poppins', sans-serif;
}


.grid-container > div {
  padding: 0.2em 1em;
}

.grid-container > div:nth-child(1) {
    
color:white;
font-family: 'Rajdhani', sans-serif;

height:200;

}

.grid-container > div:nth-child(2) {
   
color:white;

background-color: blue;

}
.grid-container > div:nth-child(3) {


  

}


.nightback {
	 background: url(nachtback.jpeg) no-repeat center 100%;
}

.dayback {
	  background: url(Sunset-View.jpg) no-repeat center 100%;
}

.nuggets {
	height:300px;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}


.databalk {
	height:300px;
	width:100%;
	background-color:transparent;
	font-size: 250%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.databalk span {
	display: inline;
	
}


.databalk2 {
	height:24px;
	width:60%;
	
	
}

#fuel {
	
background-color:transparent;
	border: 1px solid #EA963E;
	border-radius: 5px;

}

#heat {
	
background-color:transparent;
	border: 1px solid #EA963E;
	border-radius: 5px;

}
#orange{
	color:#c13809
	;
	display: inline-flex;
}



.cardWrapper{
  width:300px;
  height:335px;
  position:relative;
  float:left;
  margin-right:10px;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
  perspective: 256px;
  top: 50%;                         
  transform: translate(0, -50%) }


}

.cardFace {
  position:absolute;
  width:200px;
  height:235px;
  overflow:hidden;
  transform-style: preserve-3d;
  vertical-align: middle;

}


.niels {
	font-size: 250%;
}

#switch {
	background-color: black;
	color:white;
}



